<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

    <div id="recaptcha-container"></div>
    <img src="../assets/imgs/test.jpeg" class="centerImg">
    <div>
    <ion-item>
      <ion-label stacked>Phone number</ion-label>
       <ion-input type="number" placeholder="Enter your phone number" [(ngModel)]="phoneNumber"></ion-input>
     </ion-item>

    <div padding>
      <button ion-button id="sign-in-button" (click)="signIn(phoneNumber)" color="primary" block>GET OTP</button>
    </div>
  </div>
</ion-content>
