<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div class="container">
     <img src="../assets/imgs/test.jpeg" class="centerImg">
     <p>
     The most popular industrial group ever, and largely
     responsible for bringing the music to a mass audience.
   </p>
   <p>
   The most popular industrial group ever, and largely
   responsible for bringing the music to a mass audience.
 </p>
 <p>
 The most popular industrial group ever, and largely
 responsible for bringing the music to a mass audience.
</p>
<ion-buttons end>
  <button ion-button color="primary" (click)="skipToLogin()">Skip</button>
</ion-buttons>
  </div>
</ion-content>
