<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <ion-row>
    <ion-col>
      <div> <p> TOTAL CASHBACK </p></div>
    </ion-col>

    <ion-col center text-center>
      <ion-note>
       Rs 2499
      </ion-note>
    </ion-col>
  </ion-row>
  </ion-card>
  <ion-card *ngFor="let service of services" (click)="itemTapped($event, item)">
    <img src= {{service.icon}} />

    <div class="card-title">  {{service.name}}</div>
    <div class="card-subtitle">  {{service.description}}</div>

  </ion-card>

</ion-content>
