<!--
  Generated template for the ServicesListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>servicesList</ion-title>

  </ion-navbar>

</ion-header>
<ion-content>
  <button (click)="gridPage()">
    Grid
  </button>
</ion-content>`

<ion-content padding>
<ion-card *ngFor="let service of services" >
    <ion-item>
    <ion-avatar item-start>
      <img src={{service.icon}}>
    </ion-avatar>
    <h2>  {{service.name}}</h2>
  </ion-item>
  <ion-card-content>
   <p>{{service.description}}</p>
 </ion-card-content>   </ion-card>
<!-- <ion-grid >
   <ion-row>
    <ion-col col-6 *ngFor="let service of services" >

      <ion-card>
              <ion-card-content>
                    <span>{{service.name}}</span>
                      <img src={{service.icon}}/>

              </ion-card-content>

        </ion-card>


    </ion-col>
    </ion-row>
</ion-grid>-->


</ion-content>
